doctype html
html(lang="en")
	head
		title Node Web
		meta(charset="utf-8")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min/css" rel="stylesheet")
		link(href="css/main.css" rel="stylesheet")

		link(href="http://fonts.googleapies.com/css?family=Pacifico" rel="stylesheet" type="text/css")

		link(href="http://fonts.googleapies.com/css?family=Lato:300,400" rel="stylesheet" type="text/css")
		
		link(href="css/animate.css" rel="stylesheet" type="text/css")
	body
		div(class="col-md-5 center-block no-float top-space text-left")
			h1 Agregar Producto